.page {
  font-family: var(--main-font, 'Inter-Variable'), sans-serif;
  background-image: var(--bg-gradient-page);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--main-font-regular, 410);
}

.adaptive-inline-size {
  inline-size: var(--adaptive-inline-size);
}

.header {
  margin: 100px auto 0;
  border: 2px solid #000;
  padding: clamp(7.625rem, 7.0481rem + 2.4615vw, 8.125rem)
    clamp(1rem, -6.6803rem + 32.7692vw, 7.65625rem);
  text-align: center;
  background-color: #fff;
}

.header__logo {
  margin-block-end: 20px;
  font-family: var(--accent-font, 'PressStart2P'), fantasy;
  font-weight: 400;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  text-transform: uppercase;
}

.header__title {
  font-family: var(--accent-font, 'PressStart2P'), fantasy;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  margin: 95px auto 0;
}

.cards-list {
  margin-block-end: 50px;
}

.cards-list__item:not(:last-child) {
  margin-block-end: 50px;
}

.card {
  border: 2px solid #000;
  background-color: #fff;
}

.card__title {
  margin: 4px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--main-font-bold, 715);
}

.card__image-container {
  position: relative;
  border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;
}

.card__watermark {
  position: absolute;
  z-index: 1;
  opacity: 50%;
  font-family: var(--accent-font, 'PressStart2P'), fantasy;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--text-stroke-color, #fff),
    0 1px var(--text-stroke-color, #fff),
    1px 0 var(--text-stroke-color, #fff),
    0 -1px var(--text-stroke-color, #fff);
  inset-block-start: 25px;
  inset-inline-end: 25px;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color, #fff);
    text-stroke: 1px var(--text-stroke-color, #fff);
  }
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__image_filter_brightness {
  filter: brightness(80%);
}

.card__image_filter_contrast {
  filter: contrast(115%);
}

.card__image_filter_saturate {
  filter: saturate(70%);
}

.card__image_filter_grayscale {
  filter: grayscale(0.5);
}

.card__image_filter_hue-rotate {
  filter: hue-rotate(170deg);
}

.card__image_filter_sepia {
  filter: sepia(50%);
}

.card__image_filter_multiply {
  filter: blur(0.1rem) invert(0.1);
}

.card__text-container {
  margin: 25px;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
}

.card__text:not(:last-child) {
  margin-block-end: 25px;
}

.card__buttons-container {
  display: flex;
  justify-content: end;
  gap: 5px;
  margin-inline-end: 25px;
  margin-block-end: 25px;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border-color .3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: #000;
}

.like-icon {
  display: block;
}

.core {
  transition: fill .3s .03s linear;
}

.main-body {
  transition: fill .3s linear;
}

.contour {
  transition: fill .1s linear;
}

.heart {
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

body:has(.like-icon:hover) .core {
  fill: var(--accent-color);
  transition-delay: 0s;
}

body:has(.like-icon:hover) .main-body {
  fill: var(--accent-color);
  transition-delay: .05s;
}

body:has(.like-icon:active) .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

body:has(.like-icon:active) .main-body {
  fill: var(--animation-fill-color);
  transition-delay: .05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: .05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill .3s .06s linear;
}

.like-icon.is-liked .heart {
  animation: scale .3s ease-in .1s 1;
}

.like-icon.is-liked .sparks {
  animation: sparks .3s ease-in .3s 1;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button {
  position: relative;
  border: 2px solid #000;
  overflow: hidden;
  background-color: #fff;
  transition: box-shadow .3s ease;
  cursor: pointer;
}

.button__text {
  position: relative;
  z-index: 1;
  display: block;
  color: var(--button-text-color);
  font-family: var(--accent-font, 'PressStart2P'), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

.save-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin: 0 auto 100px;
  padding: 15px 19px;
}

.save-button__floppy-icon {
  position: relative;
  z-index: 1;
  width: 21px;
  height: 21px;
  fill: var(--floppy-icon-color);
  mix-blend-mode: difference;
}

.modal-window {
  border: 2px solid #000;
  padding: 28px;
  background-color: #fff;
  block-size: 191px;
  inline-size: 353px;
}

.modal-window::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-window__floppy-icon {
  align-self: center;
  width: 39px;
  height: 39px;
}

.modal-window__title {
  font-family: var(--accent-font, 'PressStart2P'), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.modal-window__button {
  grid-column: 1 / -1;
  padding: 10.5px 132.5px;
}

.modal-window[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 30px;
  column-gap: 20px;
}

.button::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #000;
  transition: translate .5s ease-in-out;
  translate: -100%;
}

.button:hover::after {
  translate: 0;
}

.button:focus {
  box-shadow: 2px 2px 0 #000;
  outline: none;
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
  }

  .save-button__floppy-icon {
    width: 28px;
    height: 28px;
  }

  .modal-window {
    padding: 28px 38px;
    inline-size: 341px;
  }

  .modal-window__button {
    padding: 10.5px 116.5px;
  }
}
